/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *  
 *= require bootstrap.min
 *= require pickmeup.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix')
format('embedded-opentype')
       url('glyphicons-halflings-regular.woff') format('woff'),
       url('glyphicons-halflings-regular.ttf') format('truetype'),
       url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
format('svg');
}

.navbar.navbar-default{
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}

.home-logo{
  font-size: 1.5em;
  margin-top: 10px;
}

.btn.btn-navbar{
	float:left !important;
}

.signin-button{
	position: relative;
  z-index: 1;
  float: right !important;
  margin-right: 2px;
  margin-top: 2px;
}

.navbar-toggle{
  float: left !important;
  margin-left: 2px;
}

.btn.btn-med{
	background-color: #0085E1;
	background-image: none;

}

.btn.btn-med a{
    color: white;
}
