// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//NEED TO CREATE BOX AND SET THE BACKGROUND IMAGES
.home-image{
	// width: 300px;
	// height: 300px;
	background-image: url("Background-Image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


body{
	background-color: #FFD5A5;
}

p{
	font-size: 0.5em;
}

.calendar-button{
	font-size: 3.5em;
	display: inline-block;
	color: #0085E1;
	margin: 10px 15px;
}

.btn.btn-large{
	background-color: #0085E1;
	background-image: none;
	color: white;

}


.home-text h2{
	color: #0085E1;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	z-index: 1;
	margin-top: 300px;
}

.home-image img{
	max-height: 600px;
	position: relative;
	z-index: 0;
}

@media all and (max-width: 500px) {

}
// body{
// 	background: url('/assets/Background-Image.jpg');
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

//TRY
//MARGIN 0 AUTO